.app-donator {
    // 项目录入css
    .project-info-input {
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
        .mt-panel-h2 {
            color: #8699B0;
        }

        .project-form {
            text-align: center;
            label {
                height: 1.7rem;
                line-height: 1.7rem;
                display: inline-block;
                text-align: left;
                width: 10rem;
            }
            .mt-input {
                border-color: #D3E1FF;
                border-radius: 3px;
                input {
                    width: 265px;
                    height: 1.5rem;
                    line-height: 1;
                    padding-left: 0.4rem;
                    font-size: 0.7rem;
                    color: rgba(0, 0, 0, 0.5);
                }
            }

            .mt-select-input {
                text-align: left;
                border-color: #D3E1FF;
                height: 1.8rem;
                padding: 2px 4px;
                padding-left: 0.6rem;
                color: rgba(0, 0, 0, 0.5);
                .iconfont {
                    color: #5585FE;
                }
            }

            & > div {
                margin-bottom: 1.8rem;
            }

            .criteria-list {
                & > label,
                & > div {
                    display: inline-block;
                    vertical-align: top;
                }

                .criteria-box {
                    width: 275px;
                }
                .criteria-item {
                    display: -webkit-flex; /* Safari，Chrome */
                    display: flex;
                    margin-bottom: 1.1rem;
                    label {
                        flex: 1;
                    }

                    .mt-select-input,
                    .mt-input {
                        width: 8rem;
                        input {
                            width: 100%;
                        }
                    }
                }
            }


            .create-btn {
                width: 10rem;
                padding: 15px;
                color: #fff;
                background-color: #5585FE;
                border-radius: 3px;
                font-size: 0.8rem;
                margin-top: 3.5rem;
            }
        }
    }
    // 项目录入css End
}
