@import "./styles/public";
html {
    font-size: 20px;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.app {
    height:100%;
    min-height:100vh;
}

.app-frame {
    .left-box {
        overflow: hidden;
    }

    .right-box {
        margin-left: 230px;
        background-color: #F5F8FA;
        min-height: 100vh;

        .app-header {
            height: 3.2rem;
            line-height: 3.2rem;
            padding-left: 1.3rem;
            border-bottom: 2px solid #D3D6D6;
            background-color: $white;

            .iconfont {
                font-size: 0.9rem;
                margin-right: 0.5rem;
                color: #5585FE;
            }
        }

        .content-box {
            padding: 1.3rem;
        }
    }
}

.app-sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 230px;
    color: $white;
    background: rgba(0, 0, 0, 0) url('./assets/images/side_bar_bg.jpg') no-repeat scroll 0 0 / cover;

    .logo {
        padding: 1.2rem;
        text-align: center;
        & > a {
            color: $white;
            font-weight: bolder;
        }
    }

    .avatar-container {
        padding: 1rem 0 2.8rem;
        padding-left: 2.5rem;

        .header-circle {
            border-radius: 50%;
            width: 3.3rem;
            height: 3.3rem;
            float: left;
            & > img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .user-box {
            margin-left: 4rem;
            font-size: 0.8rem;
            margin-top: 0.8rem;
            & > span {
                display: block;
                padding-bottom: 0.2rem;
            }

            .user-identity {
                font-size: 0.65rem;
                color: rgba(255, 255, 255, 0.8);
            }
        }

    }

    .navlist {
        li {
            & > a {
                display: block;
                padding: 0.75rem 0;
                padding-left: 2.6rem;
                text-align: left;
                color: rgba(255, 255, 255, 0.85);
                font-family: "Microsoft YaHei";

                &.active {
                    border-top: 1px solid #194370;
                    border-bottom: 1px solid #194370;
                    border-left: 6px solid #5585FE;
                    i {
                        margin-left: -6px;
                    }
                }

                & > i {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 1rem;
                    color: #5584FF;
                    margin-top: -4px;
                    margin-right: 0.8rem;
                }
            }
        }
    }
}

.mt-div {
    .mt-select .mt-select-option {
        padding: 6px 2px 6px 0.4rem;
        &:hover {
            background-color: #5585FE;
        }
    }
}

.mt-table th,
.mt-table td {
    border-color: #B3B3B3;
    border-width: 1px;
}


.mt-pagelist {
    display: block;
    text-align: center;
    margin-top: 1.5rem;

    .active a {
        border-color: #5585FE;
        background-color: #5585FE;
    }
}